body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #fff, #e83535);
  }
  

  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 36px;
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .heading{
    color: #e83535;
  }

  .navbar{
    color: #e83535;
  }

  .sign{
    color: #e83535;
  }