main {
    padding: 0px 0;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .home_hero {
    /* background-image: linear-gradient(to right bottom, #f3f5f8, #357ae8); */
    color: #fff;
    padding: 100px 0;
    text-align: center;
    height: 500px;
  }
  
  .home_hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .home_hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
    line-height: 1.5;
  }
  
  .home_btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #fff;
    color: #357ae8;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .home_btn:hover {
    background: linear-gradient(to right bottom, #fffefe, #02edfe);
    transform: translateY(-3px);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }