{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
    <!-- About Us Section -->
    <main>
        <section class="about_section">
          <div class="about_container">
            <h2>About Us</h2>
            <p>We are a team of passionate data scientists and developers dedicated to creating powerful tools for data preprocessing and analysis. Our mission is to empower individuals and organizations to unlock the full potential of their data.</p>
            <p>With DataPrep WebApp, we aim to simplify the data cleaning process and provide intuitive visualization tools to help users gain actionable insights from their datasets.</p>
          </div>
        </section>
      </main>
    
      <footer>
        <div class="about_container">
          <p>&copy; 2024 DataPrep WebApp. All rights reserved.</p>
        </div>
      </footer>
{% endblock body %}
    