{% extends 'base.html' %}
{%block additional_css%}
<style>

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #ffffff, #02effe);
    color: black;
    display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: rgb(166 0 255 / 20%);
    color: #ffffff;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 5);
}


.about-section li{
    text-align: justify;
}

.team_container {
  max-width: 1200px;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.team_container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: linear-gradient(to right bottom, #ffffff, #02effe);
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.row{
    background-color: rgb(117 116 118 / 20%);
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 5);
}

.about_container{
    overflow: auto;
    scrollbar-width: none;
    padding: 20px;
}

.con-btn-div{
    margin: 5px;
}

.con_button{
    background: linear-gradient(to right bottom, #fff, #02effe);
    border-width: 0px;
    width: 100%;
    padding: 5px;
    font-size: small;
    font-weight: bold;
    color: #fff;
}
</style>
{%endblock%}
{% block title %}About{% endblock title %}
{% block body %}
    <!-- About Us Section -->
    
      <div class="about-section">
        <h1>Welcome to DataPrep</h1><br>
        <p>We are a team of passionate data scientists and developers dedicated to creating powerful tools for data preprocessing and analysis. Our mission is to empower individuals and organizations to unlock the full potential of their data.</p>
            <p>With DataPrep WebApp, we aim to simplify the data cleaning process and provide intuitive visualization tools to help users gain actionable insights from their datasets.</p>
          <br><br><h1>Our Mission</h1><br>
        <p>At DataPrep, our mission is to empower individuals and businesses by simplifying the process of data cleaning and visualization. We believe that clean, well-organized data is the cornerstone of insightful analysis and informed decision-making. Our goal is to remove the barriers to effective data utilization, making sophisticated data tools accessible to everyone, regardless of their technical expertise.</p>
        <br><br><h1>We are committed to</h1><br>
        <p><li>Automating Data Cleaning: Eliminating the tedious and time-consuming tasks of data preparation, our platform uses advanced algorithms to automatically detect and correct errors, ensuring your data is always accurate and reliable.</li>
      
        <br><li>Enhancing Data Visualization: Transforming raw data into meaningful and interactive visual representations, we help users to quickly identify patterns, trends, and insights that drive impactful decisions.</li>
      
      <br><li>User-Friendly Experience: Our intuitive interface is designed to cater to both novice users and data experts, making the process of data cleaning and visualization seamless and efficient.</li>
      
      <br><li>Continuous Innovation: We are dedicated to continuously improving our technology, integrating the latest advancements in data science and machine learning to offer state-of-the-art solutions that meet the evolving needs of our users.</li></p>
      </div>
              <br><br>
      
      <div class="row">
          <br><br><h2 style="text-align:center">Our Team</h2><br><br>
        <div class="column">
          <div class="card">
            <img src="assets/img/abhi.jpg" alt="Jane" style="width:100%; height: 300px;">
            <div class="team_container">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <div class="con-btn-div"><button class="con_button" onclick="gotoContact()">Contact</button></div>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="assets/img/dummy.jpg" alt="Mike" style="width:100%; height: 300px;">
            <div class="team_container">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <div class="con-btn-div"><button class="con_button" onclick="gotoContact()">Contact</button></div>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="assets/img/dummy.jpg" alt="John" style="width:100%; height: 300px;">
            <div class="team_container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <div class="con-btn-div"><button class="con_button" onclick="gotoContact()">Contact</button></div>
            </div>
          </div>
        </div>
          
        <div class="column">
          <div class="card">
            <img src="assets/img/dummy.jpg" alt="John" style="width:100%; height: 300px;">
            <div class="team_container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <div class="con-btn-div"><button class="con_button" onclick="gotoContact()">Contact</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-section">
          <h1>Get in Touch</h1><br>
        <p>Have questions, feedback, or need assistance? We're here to help! Feel free to reach out to us via our <a href="/contact">contact</a> page or connect with us on social media.
      
      Thank you for choosing DataPrep for your data activity needs. Let's create unforgettable experiences together!</p>
        </div>
          
          </div>
          
      </main>
          
          <script>
              function gotoContact(){
          window.location.href = "http://localhost:8080/FestaVista/contact.jsp";
      }
      
                function eventNav(){
                    document.getElementById("event_btn").click();
                }
      
          </script>
      </body>
      <footer>
        <div class="about_container">
          <p>&copy; 2024 DataPrep WebApp. All rights reserved.</p>
        </div>
      </footer>
{% endblock body %}
    