<!-- duplicate_for_user.html -->

{% extends 'base.html' %}

{% load static %}
{%block additional_css%}

<link rel="stylesheet" href="{% static '/css/common.css' %}">
<style>
    .data-container{
        display: flex;
    }
    .cleanedData{
        width: 50%;
        text-align: center;
        margin: 5px;
        scrollbar-width: 2px;
    }
    .upload-container{
        height: 120px;
        width: 600px;
        cursor: pointer;
        border-style: inset;
        margin: 15px auto;
    }
    .upload_icon{
        height: 40px;
        width: 40px;
    }
</style>
{%endblock%}

{% block title %}Upload{% endblock title %}


{% block body %}
<div class="main_section">
    <div class="main-container">
        <h1>Remove Duplicates</h1>
        <!-- File Upload Form -->
        <form id="uploadForm" action="{% url 'userapp:removeduplicatesforuser' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file"></label>
            <div id="upload-container" class="upload-container" onclick="uploadFile()">
                <input type="file" id="file" name="file" accept=".csv, .xlsx, .json" onchange="displayFilePath()" style="display: none">
                <input type="hidden" name="username" value="{{ username }}">
                <img class="upload_icon" src="{% static '/img/upload.svg' %}" alt="Image">
                <p>Upload a CSV or Excel or Json file. Click here to choose file</p>
                <div id="filePath"></div>
            </div>
            <input type="Submit" value="Submit">
        </form>
        
    </div>
    <div class= "data-container">
    {% if html_table %}
    <div id = "cleanedData" class = "cleanedData">
    <h2>Uploaded Data</h2>
    <div class="result-container">
    <!-- Display the HTML table -->
    {{ html_table | safe }}
    </div>
    </div>
    {% endif %}
    {% if cleaned_data %}
        <div id="cleanedData" class = "cleanedData">
            <h2>Cleaned Data</h2>
            <div class="result-container">
                {{ cleaned_data | safe }}
            </div>
        </div>
    </div>
        {% if modified_file_path %}
        <br><div class="download_modified_file">
            <a href="{% url 'userapp:download_modified_userfile' %}?modified_file_path={{ modified_file_path }}" download>
                Download Modified File
            </a>
        </div>
        {% endif %}
    {% endif %} 
</div>

<script>
    function uploadFile(){
        document.getElementById('file').click();
    }

    function displayFilePath() {
        const fileInput = document.getElementById('file');
        const filePath = document.getElementById('filePath');
    
        if (fileInput.files.length > 0) {
            filePath.innerHTML = `${fileInput.files[0].name} uploaded....`;
        } else {
            filePath.innerHTML = 'Uploading failed! Try again';
        }
    }

    window.addEventListener('load', function() {
        document.getElementById('sign').style.display = 'none';
        document.getElementById('signed_user').style.display = 'grid';
    });
</script>
{% endblock %}
