{% extends 'base.html' %}
{%load static%}
{%block additional_css%}
<style>

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right bottom, #ffffff, #02effe);
    color: black;
    display: block;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

 /* Home Features Section */
  
 
  
  .home_features h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
    color: #333;
  }
  
  .home_feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    width: 900px;

    p{
      margin-top: 35px;
      margin-left: 45px;
      text-align: justify;
    }
  }
  
  .icon {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .icon img {
    width: 100%;
    height: 100%;
  }
  
  .home_feature h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .home_feature p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }

</style>
{%endblock%}
{% block title %}About{% endblock title %}
{% block body %}
    <!-- About Us Section -->
    
    <section id="hm_features" class="home_features">
        <div class="home_container">
          <h2>Key Features</h2>
          <div class="home_feature">
            <h3>Data Import</h3>
            <br><br><p>Effortlessly import your datasets with a few clicks: At DataPrep, we understand that getting your data into the right format is the first step toward effective analysis and visualization. Our data import feature is designed to make this process as smooth and straightforward as possible.</p>
          </div>
          <div class="home_feature">
            <h3>Data Cleaning</h3>
            <p>Automatically clean and standardize your data: In the world of data, accuracy and consistency are paramount. At DataPrep, we understand the challenges that come with maintaining high-quality data. That's why our platform offers a robust data cleaning feature designed to automatically clean and standardize your data, saving you time and ensuring your data is always ready for analysis.</p>
          </div>
          <div class="home_feature">
            <h3>Data Visualization</h3>
            <p>Create insightful visualizations to understand your data better: At DataPrep, we believe that visualizing data is a crucial step in the data analysis process. Our data visualization feature is designed to help you transform complex datasets into clear, comprehensible visual formats, enabling you to uncover hidden insights and make data-driven decisions with confidence.</p>
          </div>
        </div>
      </section>
      </body>
      <footer>
        <div class="about_container">
          <p>&copy; 2024 DataPrep WebApp. All rights reserved.</p>
        </div>
      </footer>
{% endblock body %}
    