<!-- upload.html -->

{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
<style>
  
  .popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right bottom, #321974, #ff0095c9);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

</style>
{% endblock additional_css %}
{% block title %}Upload{% endblock title %}


    
{% block body %}

<div class="upload_container">
    <div class="upload_header">
      <h1 style="color: white;">Data Preprocessing WebApp</h1>
      <p style="color: white;">Streamline Your Data Cleaning Process</p>
    </div>
    <section class="features">
      <a href="/null" class="feature"><div>
        <h2>Remove Null Values</h2>
        <p>Effortlessly eliminate null or missing values from your dataset.</p>
      </div></a>
      <a href="/outlier" class="feature"><div>
        <h2>Remove Outliers</h2>
        <p>Identify and remove outliers to ensure the integrity of your data.</p>
      </div></a>
      <a href="/duplicate" class="feature"><div>
        <h2>Remove Duplicates</h2>
        <p>Easily detect and remove duplicate entries from your dataset.</p>
      </div></a>
      <a href="/automatic" class="feature"><div>
        <h2>One-Click Cleaning</h2>
        <p>Perform all cleaning activities in one go for maximum efficiency.</p>
      </div></a>
    </section>
    <a id="popupLink" href=""  style="color: white;"><section class="visualization">
      <h2>Data Visualization</h2>
      <p>Visualize your cleaned data for better insights and decision-making.</p>
    </section></a>
    <div id="popup" class="popup">
      <p style="color: white;">To use the Visualization feature you need to login first!</p>
      <a href="/login" style="color: white;"> Login </a>
    </div>
    <div id="overlay" class="overlay"></div>
    
  </div>
  <footer>
    <p>&copy; 2024 DataPrep WebApp. All rights reserved.</p>
  </footer>

<script>
  document.getElementById('popupLink').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('popup').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
});
</script>


{% comment %} <a href="/automatic">click hear to clean and preprocess the data automatically </a><br>
<a href="/automatic">click hear to clean and preprocess the data manually </a> {% endcomment %}
{% endblock body %}
    

