<!-- upload.html -->

{% extends 'base.html' %}

{% block title %}Upload{% endblock title %}


    
{% block body %}
    <div class="main-container">
        <!-- File Upload Form -->
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Choose a file:</label>
            <input type="file" id="file" name="file" accept=".csv, .xlsx, .json" onchange="displayFilePath()">
            <input type="Submit" value="Submit">
        </form>
        <div id="filePath"></div>
    </div>

    {% if cleaned_data %}
        <div id="cleanedData">
            <h2>Cleaned Data</h2>
            <div class="result-container">
                {{ cleaned_data|safe }}
            </div>
        </div>
    {% endif %} 
{% endblock body %}
    

