<!-- userdashboard.html -->

{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock additional_css %}
{%block title%}Home{%endblock title%}
{% block body %}

<main>
 
    <section class="home_hero">
      <div class="home_container">
        {% if username %}
        <h2>Hello, {{ username }}</h2>
    {% else %}
        <p>No user logged in.</p>
    {% endif %}
        
        <h1>Welcome to the User Dashboard</h1>
    
        <p>Unlock the power of your data with DataPrep</p>
        <a href="{% url 'userapp:upload_user_file' %}?username={{ username }}" class="home_btn">Get Started</a><br><br>
        <div>
          <a href="{% url 'userapp:displayUserProfile' %}?username={{ username }}" class="home_btn">View Profile</a>
          <a href="{% url 'userapp:displayPreviousWork' %}?username={{ username }}" class="home_btn">Previous Work</a>
        </div>

      </div>
    </section>

    <section class="home_features">
      
    </section>
  </main>

  <footer>
    <div class="home_container">
      <p>&copy; 2024 DataPrep. All rights reserved.</p>
    </div>
  </footer>

  <script>
    window.addEventListener('load', function() {
      document.querySelector('.home_features').classList.add('.fadeIn');
      document.getElementById('sign').style.display = 'none';
      document.getElementById('signed_user').style.display = 'grid';
    });
  </script>

{% endblock body %}
    

